.wrapper {
    display: flex;
    align-items: center;
    min-width: 100px;
    padding: 10.5px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    // border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        color: rgba(var(--white-on-dark), 0.65);
        font-weight: 500;
        padding-left: 0;
        padding-right: 0;
        margin-left: 28px !important;
        width: 80%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(var(--white-on-dark), 0.13);
        border-radius: 0;
    }

    .container {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
}

.sidebar-nav-btn,
.sidebar-nav-log-out-btn {
    color: rgba(var(--white-on-dark), 0.65);
    font-weight: 400;
    width: 100%;
    justify-content: start;
    border-radius: 0;

    + .wrapper {
        margin-left: 0;
    }

    &:hover {
        background-color: rgba(var(--white-on-dark), 0.07);
    }

    .iconRight svg {
        transform: rotate(0);
        transition: 0.2s ease-in-out;
    }

    &.active {
        color: var(--white-on-dark);

        .iconRight svg {
            transform: rotate(180deg);
        }
    }
}

.sidebar-nav-log-out-btn {
    padding-left: 28px;
}

.logo-btn {
    padding: 0;
}

.iconLeft + .container,
.container + .iconLeft {
    margin-left: 12px;
}

.iconLeft,
.iconRight {
    display: flex;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--navy);
    border-color: var(--navy);

    &:hover {
        border-color: var(--navy);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--navy);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
