@import 'normalize.css';

:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --white-on-dark: 255, 255, 255;
    --navy: 0, 25, 53;
    --red: 255, 73, 48;
    --orange: 255, 138, 0;
    --yellow: 232, 215, 56;
    --green: 0, 207, 53;
    --blue: 0, 184, 255;
    --purple: 124, 92, 255;
    --pink: 255, 98, 206;

    --accent: 0, 184, 255;
    --secondary-accent: 229, 231, 234;
    --follow: 243, 248, 251;
    --icon-color-primary: RGB(var(--white-on-dark));

    --color-title: rgb(var(--white-on-dark));
    --color-text: rgb(var(--white-on-dark));
    --color-subtext: rgb(var(--white-on-dark));
    --color-primary-link: rgb(var(--accent));
    --color-bluespace-background: rgb(var(--navy));
    --color-bluespace-card-background: rgba(var(--white-on-dark), 0.07);
    --color-modal-close-button: rgb(var(--navy));
    --color-modal-close-button-background: rgb(var(--white-on-dark));

    --font-family:
        "Favorit",
        "Helvetica Neue",
        "HelveticaNeue",
        Helvetica,
        Arial,
        sans-serif;

    --border-radius-small: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    background-color: rgb(var(--navy));
    background-attachment: fixed;
    color: var(--color-text);
    overflow-y: overlay;
}

// Scrollbar CSS
// html *::-webkit-scrollbar {
//     border-radius: 0;
//     width: 8px;
// }

// html *::-webkit-scrollbar-thumb {
//     background-color: rgba(var(--white-on-dark), .4);
// }

// html *::-webkit-scrollbar-track {
//     border-radius: 0;
//     background-color: rgba(0, 0, 0, 0);
// }

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--white-on-dark);
    text-decoration: none;
}

// Fonts emmbeded
@font-face {
    font-family: Favorit;
    src: url('/assets/fonts/favorit-medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: Favorit;
    src: url('/assets/fonts/FavoritLightC.woff2');
    font-weight: 400;
}

// Custom tippy tooltip
body {
    --post-padding: 20px;

    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    // .tippy-box[data-placement^='bottom']>.tippy-arrow:before {
    //     top: -8px;
    // }

    .tippy-box[data-theme~='red'] {
        background-color: rgb(255, 73, 48);

        .tippy-arrow::before {
            border-top-color: rgb(255, 73, 48);
        }
    }

    .npf_row {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 6px;

        .tmblr-full {
            flex: 1;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &+.npf_row {
            margin-top: 6px;
        }
    }
}