.wrapper {
    display: flex;
    flex: 1;

    .main-content {
        width: 67.5%;
        max-width: 666px;
        padding: 14px 20px;

        .inbox-container {
            border-radius: 3px;
            background-color: rgba(var(--white-on-dark), .07);
            color: rgba(var(--white-on-dark), .65);
            text-align: center;
            font-family: var(--font-family);
            border-radius: 3px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 20px;
            font-size: 1.3125rem;
            font-weight: 500;
            line-height: 1.5238;
            display: flex;

            .top-parag {
                font-size: 2.1rem;

            }

            .bottom-parag {
                font-size: 1.6rem;
                color: rgba(var(--white-on-dark), .4);
            }
        }
    }

    .sidebar {
        min-height: 100vh;
        flex: 1;
        border-left: 1px solid rgba(var(--white-on-dark), .13);

        .links {
            display: flex;
            flex-direction: column;

            .link {
                flex: 1;
                display: flex;
                align-items: center;
                padding: 8px 12px;
                gap: 8px;
                color: rgba(var(--white-on-dark));
                font-weight: 500;
                font-size: 1.8rem;

                &.active {
                    background: rgba(var(--white-on-dark), .07);
                }

                &:hover {
                    background: rgba(var(--white-on-dark), .07);
                }
            }
        }

        .instruct {
            background: rgba(var(--white-on-dark), .07);
            color: RGB(var(--white-on-dark));
            margin-top: 12px;
            padding: 12px;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.44;
        }

        footer {
            display: flex;
            gap: 12px;
            width: 100%;
            padding: 0 8px;
            margin-bottom: 20px;
            position: sticky;
            position: -webkit-sticky;
            top: calc(100vh - 18px - 20px);

            .footer-link {
                color: var(--color-primary-link);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }
}