.wrapper {
    --offset: 0px;
    --dashboard-tabs-header-height: 53px;

    display: flex;
    flex: 1;

    .main-content {
        width: 67.5%;
        max-width: 666px;

        .action-bar {
            display: flex;

            .img {
                border-radius: 3px;
                margin: 20px 20px;
            }

            .action-list {
                list-style-type: none;
                background: RGB(var(--white));
                display: flex;
                flex: 1;
                margin-top: 20px;
                margin-right: 20px;
                padding: 15px 5px;
                border-radius: 3px;
                justify-content: space-between;
                align-items: center;
                min-height: 100px;
                margin-bottom: 20px;

                li {
                    flex: 1;
                    height: 100%;
                }

                .btn {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    color: RGB(var(--black));
                    height: 100%;
                    padding: 5px 0;
                    font-size: 1.5rem;
                    font-weight: 400;
                    background-color: transparent;

                    &:hover svg {
                        transform: translateY(-5px);
                        transition: transform .25s ease;
                    }
                }
            }
        }

    }

    .sidebar {
        flex: 1;
        border-left: 1px solid rgba(var(--white-on-dark), .13);

        .hidden-box {
            min-height: 100vh;
            margin-bottom: 38px;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }

        .footer {
            display: flex;
            gap: 12px;
            width: 100%;
            padding: 0 8px;
            margin-bottom: 20px;
            position: sticky;
            position: -webkit-sticky;
            top: calc(100vh - 18px - 20px);

            .footer-link {
                color: var(--color-primary-link);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }

    }
}