.wrapper {
    --offset: 0px;
    --dashboard-tabs-header-height: 53px;

    display: flex;
    justify-content: center;
    flex: 1;

    .main-content {
        width: 666px;

        .action-bar {
            display: flex;

            .checkout-popper {
                width: 280px;
                background: #fff;
                border-radius: 3px;
                overflow: hidden;

                .popper-wrapper {
                    width: 100%;

                    .main {
                        position: relative;

                        .popper-link {
                            display: block;

                            .top-img {
                                object-fit: cover;
                                height: 140px;
                                width: 100%;
                            }
                        }

                        .content {
                            padding-top: 21.3333px;
                            padding-bottom: 21.3333px;

                            .head {
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding: 10px;
                                display: flex;

                                .head-link {
                                    font-weight: 500;
                                    text-decoration: none;
                                    display: inline-block;
                                    max-width: 105px;
                                    width: 100%;

                                    .text {
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }

                                .head-control {
                                    flex: 1;
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: 14px;
                                    align-items: center;

                                    .setting-btn {
                                        height: 24px;
                                        margin-left: 10px;
                                        background-color: transparent;
                                    }

                                    .more-btn {
                                        height: 24px;

                                        svg {
                                            fill: #fff;
                                        }
                                    }
                                }
                            }

                            .avt-link {
                                display: block;
                                width: 100%;
                                height: 0px;

                                .img-wrapper {
                                    display: flex;
                                    justify-content: center;
                                    transform: translateY(-81%);
                                    padding-bottom: 20px;

                                    .img-round {
                                        width: 74px;
                                        height: 74px;
                                        background: #fff;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 50%;
                                        animation: 0.35s ease-in-out wj3Ip;
                                    }

                                    @keyframes wj3Ip {
                                        0%,
                                        20% {
                                            transform: scale3d(0, 0, 0);
                                        }

                                        100% {
                                            transform: none;
                                        }
                                    }

                                    .avt {
                                        width: 64px;
                                        height: 64px;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            .title {
                                padding: 0 15px;
                                width: 100%;

                                .heading {
                                    font-family: 'Sans Serif';
                                    font-weight: bold;
                                    color: var(--blog-title-color, rgb(68, 68, 68));
                                    font-size: 1.8rem;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    text-align: center;
                                    word-wrap: break-word;
                                    -webkit-hyphens: auto;
                                    hyphens: auto;
                                    text-overflow: ellipsis;
                                    width: 100%;
                                    margin-bottom: 8px;
                                    line-height: 1.2;
                                }

                                .des {
                                    font-family: Arial, Helvetica, sans-serif;
                                    max-height: 40px;
                                    font-size: 1.5rem;
                                    font-weight: 400;
                                    line-height: 1.42857;
                                    overflow-wrap: break-word;
                                    word-wrap: break-word;
                                    -webkit-hyphens: auto;
                                    hyphens: auto;
                                    color: var(--blog-title-color, #444444);
                                    white-space: pre-line;
                                    text-align: center;
                                    overflow-wrap: anywhere;
                                    width: 100%;
                                    transition: max-height 50ms;
                                    position: relative;
                                    overflow: hidden;
                                }
                            }
                        }

                        .recent-posts {
                            height: 90px;
                            padding-bottom: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                            display: flex;

                            .post-link {
                                border-radius: 3px;
                                width: 100%;
                                height: 100%;
                                margin: 0 5px;
                                animation: 0.35s ease-in-out PFNjv;
                                position: relative;
                                overflow: hidden;

                                .post-img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .link {
                display: block;
                height: 84px;
                padding: 20px 20px 0px 20px;
            }

            .img {
                border-radius: 3px;
            }

            .action-list {
                list-style-type: none;
                background: RGB(var(--white));
                display: flex;
                flex: 1;
                margin-top: 20px;
                margin-right: 20px;
                padding: 15px 5px;
                border-radius: 3px;
                justify-content: space-between;
                align-items: center;
                min-height: 100px;
                margin-bottom: 20px;

                li {
                    flex: 1;
                    height: 100%;
                }

                .btn {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    color: RGB(var(--black));
                    height: 100%;
                    padding: 5px 0;
                    font-size: 1.5rem;
                    font-weight: 400;
                    background-color: transparent;

                    .txt {
                        color: RGB(var(--black));
                    }

                    .camera {
                        color: RGB(var(--red));
                    }

                    .quote {
                        color: RGB(var(--orange));
                    }

                    .link-icon {
                        color: RGB(var(--green));
                    }

                    .chat {
                        color: RGB(var(--blue));
                    }

                    .audio {
                        color: RGB(var(--purple));
                    }

                    .video {
                        color: RGB(var(--pink));
                    }

                    &:hover svg {
                        transform: translateY(-5px);
                        transition: transform 0.25s ease;
                    }
                }
            }
        }
    }

    .sidebar {
        flex: 1;
        border-left: 1px solid rgba(var(--white-on-dark), 0.13);

        .hidden-box {
            min-height: 100vh;
            margin-bottom: 38px;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }

        .footer {
            display: flex;
            gap: 12px;
            width: 100%;
            padding: 0 8px;
            margin-bottom: 20px;
            position: sticky;
            position: -webkit-sticky;
            top: calc(100vh - 18px - 20px);

            .footer-link {
                color: var(--color-primary-link);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 1059px) {
    .wrapper {
        .main-content {
            width: 100%;
            max-width: 666px;
        }
    }
}
