.navigation {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid rgba(var(--white-on-dark), 0.13);
    display: flex;
    flex-direction: row;
    position: sticky;
    position: -webkit-sticky;
    top: calc(0px - var(--offset));
    transition: top 0.25s;
    background-color: rgb(var(--navy));
    z-index: 9;
    overflow: auto;

    .navigation-item {
        display: flex;
        align-items: center;
        padding: 14px 16px;
        font-size: 1.8rem;
        font-weight: 500;
        color: rgba(var(--white-on-dark), 0.65);

        &.active {
            color: var(--white-on-dark);
            box-shadow: inset 0px -2px 0px RGB(var(--accent));
        }

        &:hover {
            background-color: rgba(var(--white-on-dark), 0.13);
        }

        span {
            white-space: nowrap;
        }
    }

    @media (max-width: 479px) {
        .navigation-item {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 1059px) {
    .navigation {
        top: calc(0px - var(--offset) + 44px);

        .navigation-item {
            padding: 14px 10px;
        }
    }
}
