.wrapper {
    @mixin post-padding($post-padding: 20px) {
        margin: 0 $post-padding;
    }

    @include post-padding(10px);
    padding: 12px 0;
    flex: 1;
    display: flex;
    justify-content: start;

    .blaze-btn {
        gap: 2px;
        display: flex;
        align-items: center;
        min-width: 48px;
        background-color: transparent;
        font: inherit;
        font-weight: 500;
        color: rgba(var(--black), .65);


    }
}