.new-post-txt-mdl {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    display: flex;
    align-items: center;

    .wrapper {
        max-height: 768px;
        width: 524px;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: RGB(var(--white));
        border-radius: 3px;
        transform: translateX(6px);
        position: relative;

        .avt {
            width: 64px;
            height: 64px;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: -84px;
        }

        .btn {
            padding: 4px 10px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.4rem;
            color: RGB(var(--black), 0.65);
            background: rgba(var(--black), 0.13);
            padding: 4px 10px;
            border-radius: 20px;
        }
        .main-ctn-btn {
            width: 320px;
            padding: 9px 16px;
            background: rgba(var(--black), 0.08);

            &:hover {
                color: RGB(var(--black));
            }
        }

        .hd {
            padding: 12px 12px;
            color: RGB(var(--black));
            font-weight: 500;
        }

        .main-ctn {
            padding: 8px 20px 15px;
            display: flex;
            flex-direction: column;
            align-content: start;

            .title {
                outline: none;
                font-size: 2.6rem;
                line-height: 1.30769;
                font-weight: 400;
                opacity: 1;

                &:focus {
                    opacity: 0.7;
                }
            }

            .ctn {
                max-height: 215px;
                resize: none;
                outline: none;
                border: none;
                overflow: hidden;
                opacity: 1;
                padding: 15px 0;
                color: RGB(var(--black));
                word-break: break-word;
                font-family: var(--font-family);
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2.8;

                &:focus {
                    opacity: 0.7;
                }
            }
        }

        .ftr {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border-top: 1px solid rgba(var(--black), 0.13);

            .cls-btn {
                max-width: 84px;
                color: rgba(var(--black), 0.65);
                line-height: 24px;
                font-weight: 500;
            }

            .post-btn {
                max-width: 128px;
                background-color: RGB(var(--accent));
                color: rgba(var(--navy));
                line-height: 24px;
                font-weight: 500;
            }
        }
    }
}
