.search-result {
    min-width: 295px;

    .search-title {
        font-family: Arial, Helvetica, sans-serif;
        background: rgba(var(--black), .07);
        color: rgba(var(--black), .65);
        align-items: center;
        min-height: 35px;
        padding: 0 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        display: flex;
    }
}

.wrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9;
    top: 0;

}

.search {
    // padding-top: 14px;
    // padding-left: 8px;
    // padding-right: 8px;
    padding: 14px 8px 6px 8px;
    background-color: RGB(var(--navy));

    .container {
        height: 34px;
        width: 100%;
        color: rgba(var(--white-on-dark));
        background-color: rgba(var(--white-on-dark), .25);
        transition: background-color 0.35s;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:focus-within {
            background: rgb(var(--white));
            color: #24282B;
        }
    }

    .search-icon {
        color: rgba(var(--white-on-dark), .65);
        flex-shrink: 0;
        justify-content: flex-end;
        align-items: center;
        height: 34px;
        margin-left: 12px;
        margin-right: 2px;
    }

    .search-icon:has(+input:focus) {
        color: #24282B;
    }

    input {
        height: 100%;
        flex: 1;
        background: transparent;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: inherit;
        border: none;
        outline: none;
        padding: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.6;
        font-weight: 400;
        transform: translateY(-1px);
    }
}

.blur {
    background-image: linear-gradient(180deg, rgb(var(--navy))0%, rgba(var(--navy), .987)8.1%, rgba(var(--navy), .951)15.5%, rgba(var(--navy), .896)22.5%, rgba(var(--navy), .825)29%, rgba(var(--navy), .741)35.3%, rgba(var(--navy), .648)41.2%, rgba(var(--navy), .55)47.1%, rgba(var(--navy), .45)52.9%, rgba(var(--navy), .352)58.8%, rgba(var(--navy), .259)64.7%, rgba(var(--navy), .175)71%, rgba(var(--navy), .104)77.5%, rgba(var(--navy), .049)84.5%, rgba(var(--navy), .013)91.9%, transparent 100%);
    width: 100%;
    height: 15px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 54px;
    left: 0;
}