.wrapper {
    width: 100%;
    margin-bottom: 20px;

    .container {
        display: flex;
        flex-flow: row nowrap;

        .empty-box {
            height: 100%;
            width: 64px;
        }

        .card {
            flex: 1;
            margin-left: 20px;
            border-radius: 3px;
            background-color: rgb(var(--white));
            display: flex;
            flex-direction: column;
            position: relative;

            .sticky-container {
                height: 100%;
                position: absolute;
                left: -84px;

                .avt-link {
                    display: block;
                    width: 64px;
                    height: 64px;
                    position: sticky;
                    position: -webkit-sticky;
                    top: calc(14px + var(--dashboard-tabs-header-height, 0px));
                    transition: top 0.25s;

                    .avt {
                        width: 64px;
                        height: 64px;
                        border-radius: 3px;
                        object-fit: cover;
                    }
                }
            }

            .head {
                flex: 1;
                margin: 15px 20px;
                display: flex;
                align-items: center;
                gap: 8px;

                .action {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;

                    .follow {
                        display: flex;
                        align-items: center;

                        .link {
                            color: rgb(var(--black));
                            font: inherit;
                            font-weight: 500;
                            font-size: 1.4rem;
                        }

                        .follow-btn {
                            height: 20px;
                            min-width: 50px;
                            margin-right: 5px;
                            font: inherit;
                            font-size: 1.4rem;
                            font-weight: 500;
                            line-height: 20px;
                            background: transparent;
                            color: rgb(var(--accent));

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .more {
                    width: 32px;
                    height: 32px;
                    position: relative;

                    .more-btn {
                        width: 100%;
                        height: 100%;
                        background-color: rgb(var(--white));
                        border-radius: 50%;

                        &:hover {
                            background-color: rgba(var(--black), 0.04);
                        }
                    }

                    .checkout-popper {
                        width: 250px;

                        .popper-wrapper {
                            width: 100%;
                            background: RGB(var(--white));
                            color: RGB(var(--black));
                            font-size: 1.4rem;
                            font-weight: 500;
                            border-radius: 3px;
                            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                            transform: translateX(-50%);

                            .more-list {
                                list-style-type: none;
                                display: flex;
                                flex-direction: column;

                                .two-lines {
                                    flex-direction: column;
                                    align-items: center;
                                    border-bottom: 1px solid rgba(var(--black), 0.13);
                                }

                                .more-item {
                                    padding: 10px;
                                    display: flex;
                                    justify-content: center;

                                    .ms-lb-btn {
                                        color: var(--color-primary-link);
                                    }

                                    .more-link {
                                        color: black;
                                    }

                                    .more-item-btn {
                                        background-color: transparent;
                                        font-family: var(--font-family);
                                        font-size: 1.6rem;
                                        font-weight: 500;
                                        line-height: 1.5;
                                    }

                                    .red-color {
                                        color: RGB(var(--red));
                                    }

                                    &:hover {
                                        background-color: RGB(var(--secondary-accent));
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .img-cont {
                width: 100%;

                .img {
                    display: flex;
                    flex-direction: column;

                    & p {
                        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                        white-space: pre-wrap;
                        color: RGB(var(--black));
                        word-break: break-word;
                        box-sizing: border-box;
                        padding-left: var(--post-padding);
                        padding-right: var(--post-padding);
                        width: 100%;
                        min-height: 1.5em;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }

                img {
                    width: 100%;
                }
            }

            .post-content {
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;
                line-height: 1.5;

                .main-post-content {
                    white-space: pre-wrap;
                    color: RGB(var(--black));
                    word-break: break-word;
                    padding-left: var(--post-padding);
                    padding-right: var(--post-padding);
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .tag-list {
                    width: 100%;
                    padding-left: var(--post-padding);
                    padding-right: var(--post-padding);
                    margin-top: 12px;

                    .tag-link {
                        margin: -2px 0;
                        padding: 2px 6px;
                        word-break: break-word;
                        margin-top: 12px;
                        font-size: 1.5rem;
                        color: rgba(var(--black), 0.65);
                        position: relative;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }

            .foot {
                padding-left: var(--post-padding);
                padding-right: var(--post-padding);
                margin-top: 25px;
                display: flex;
                flex-flow: row wrap;
            }

            .rep-sec {
                width: 100%;
                border-top: 1px solid rgba(var(--black), 0.13);

                .rep-head {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 20px;
                    border-bottom: 1px solid rgba(var(--black), 0.13);

                    .counters {
                        display: flex;
                        flex-direction: row;
                        list-style: none;

                        .c-item {
                            .head-btn {
                                min-width: 60px;
                                padding: 10px;
                                background: transparent;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 5px;
                                font: inherit;
                                font-weight: 500;
                                // color: RGB(var(--blue));
                                color: rgba(var(--black), 0.65);
                                font-size: 1.6rem;
                                border-bottom: 2px solid transparent;
                                cursor: pointer;

                                &.active {
                                    border-bottom: 2px solid transparent;
                                }

                                svg {
                                    width: 18px;
                                    height: 18px;
                                }
                            }

                            .head-btn.rep-btn.active {
                                color: rgb(var(--accent));
                                border-color: rgb(var(--accent));
                            }

                            .head-btn.rbl-btn.active {
                                color: rgb(var(--green));
                                border-color: rgb(var(--green));
                            }

                            .head-btn.like-btn.active {
                                color: rgb(var(--red));
                                border-color: rgb(var(--red));
                            }
                        }
                    }

                    .odering-btn {
                        font: inherit;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: rgba(var(--black), 0.65);
                        background-color: transparent;
                        display: flex;
                        align-items: center;

                        .caret-icon {
                            transition: all 0.3s ease;

                            &.active {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .rep-more-btn-popper,
                .ordering-popper {
                    width: 150px;
                    border-radius: 3px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

                    .popper-wrapper {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        background: RGB(var(--white));
                        color: RGB(var(--black));
                        font-weight: 500;

                        .reply-rep-btn,
                        .oldest-o-btn,
                        .newest-o-btn {
                            padding: 10px;
                            font: inherit;
                            background-color: transparent;

                            &:hover {
                                background-color: RGB(var(--secondary-accent));
                            }
                        }

                        .oldest-o-btn,
                        .newest-o-btn {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font: inherit;
                            font-weight: 400;
                            font-size: 1.4rem;

                            .checkmark-icon {
                                --cm-icon-color: rgb(var(--accent));
                            }
                        }

                        .del-rep-btn {
                            padding: 10px;
                            font: inherit;
                            color: RGB(var(--red));
                            background-color: transparent;

                            &:hover {
                                background-color: RGB(var(--secondary-accent));
                            }
                        }
                    }
                }

                .ordering-popper {
                    width: 118px;
                }

                .add-rep {
                    padding: 16px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;

                    .rep-avt {
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                    }

                    .inp-cont {
                        flex: 1;
                        padding: 8px 10px;
                        background-color: rgba(var(--black), 0.05);
                        border-radius: 8px;

                        .rep-txtarea {
                            background: 0 0;
                            width: 100%;
                            height: auto;
                            display: flex;
                            border: none;
                            font-family: var(--font-family);
                            font-size: 1.6rem;
                            line-height: 1.5;
                            resize: none;
                            outline: none;
                            overflow: hidden;
                            white-space: pre-line;
                            word-break: break-word;
                        }
                    }

                    .send-btn {
                        background-color: transparent;
                        opacity: 0.5;
                        color: #595959;
                        display: flex;
                        align-items: center;

                        &.enabled {
                            opacity: 1;
                        }
                    }
                }

                .rep-cont {
                    min-height: 383px;
                    width: 100%;
                    padding: 8px 20px 20px;

                    .rep-list {
                        display: flex;
                        flex-direction: column;

                        .rep-item {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: flex-start;
                            justify-content: space-between;
                            margin: 8px 0;

                            .rep-item-cont {
                                display: flex;
                                flex-direction: row;
                                gap: 12px;

                                .rep-item-avt {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                }

                                .rep-item-ctn {
                                    max-width: 414px;
                                    font: inherit;
                                    color: RGB(var(--black));
                                    background-color: RGB(var(--white));
                                    border: 1px solid rgba(var(--black), 0.25);
                                    border-radius: 10px;
                                    padding: 8px 12px;
                                    overflow: hidden;
                                    word-wrap: break-word;

                                    h4 {
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                    }
                                }
                            }

                            .mor-btn {
                                visibility: hidden;
                                background-color: transparent;
                                opacity: 0.7;
                            }

                            &:hover .mor-btn {
                                visibility: visible;
                            }
                        }
                    }
                    .no-rep,
                    .no-rbl {
                        width: 100%;
                        min-height: 383px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        span {
                            color: rgba(var(--black), 0.65);
                            text-align: center;
                            margin: 20px 0 12px;
                        }

                        .chkout-btn {
                            font: inherit;
                            font-weight: 500;
                            color: RGB(var(--accent));
                            background-color: transparent;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1059px) {
    .wrapper {
        margin-bottom: 10px;
        overflow: hidden;

        .container {
            .card {
                margin-left: 0;
            }
        }
    }
}
