.wrapper {
    width: 20%;
    color: rgb(var(--white-on-dark));
    border-right: 1px solid rgba(var(--white-on-dark), 0.13);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;

    .ActivityPopper,
    .MessagePopper {
        background: RGB(var(--white));
        color: RGB(var(--black));
        border-radius: 3px;
        height: 90vh;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .ActivityPopper {
        width: 380px;
        max-height: 620px;

        .header-ms {
            display: flex;
            justify-content: space-between;
            padding: 12px;
            border-bottom: solid 1px rgba(var(--black), 0.13);

            .name {
                font-weight: 500;
                font-size: 1.6rem;
                color: rgba(var(--black), 0.65);
            }
        }

        .activity-nav {
            padding: 8px 9px 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .nav-btn {
                font-family: var(--font-family);
                color: rgba(var(--black), 0.65);
                flex: 1;
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.42857;
                background-color: transparent;

                &.active {
                    background-color: RGB(var(--black));
                    color: RGB(var(--white));
                    border-radius: 99px;
                }
            }
        }

        .activity-list,
        .reblog-list {
            display: flex;
            flex-direction: column;
            height: calc(90vh - 150px);
            overflow-y: scroll;

            .activity-item {
                display: flex;
                flex-direction: column;
                border-bottom: solid 1px rgba(var(--black), 0.13);

                &:last-child {
                    border-bottom: none;
                }

                .activity-time {
                    padding: 5px 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 1.25rem;
                    color: rgba(var(--black), 0.65);
                    font-weight: 400;

                    span:first-child {
                        font-weight: 500;
                    }
                }

                .activity-content {
                    width: 100%;
                    padding: 15px 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 12px;

                    &:hover {
                        background-color: RGB(var(--secondary-accent));
                    }

                    .activity-img-container {
                        display: flex;
                        width: 36px;
                        height: 36px;
                        position: relative;

                        .activity-img {
                            width: 36px;
                            object-fit: contain;
                            border-radius: 50%;
                        }

                        .act-react {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 18px;
                            height: 18px;
                            svg {
                                border: 2px solid;
                                border-color: RGB(var(--white));
                                border-radius: 100%;
                                transform: translate(35%, 30%);
                            }
                        }

                        &.badge {
                            align-items: center;
                            height: 63px;
                            width: 25px;
                        }
                    }

                    .activity-info {
                        font-size: 1.4rem;
                        font-weight: 400;

                        .info-link {
                            font-weight: 500;
                            word-break: break-word;
                        }

                        p {
                            color: rgba(var(--black), 0.65);
                            word-break: break-word;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                            span {
                                color: rgba(var(--black));
                            }
                        }
                    }

                    .act-mng-btn {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: RGB(var(--accent));
                        background-color: transparent;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .text-in-box {
                        --icon-color-primary: rgba(var(--white-on-dark), 0.65);
                        min-width: 36px;
                        width: 36px;
                        height: 36px;
                        background-color: RGB(var(--black));
                        display: flex;
                        border-radius: 3px;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .mention-list,
        .reply-list {
            --icon-color-primary: rgba(var(--black), 0.65);
            height: calc(90vh - 103px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(var(--black), 0.07);
            padding: 20px;
            font-size: 1.25rem;
            font-weight: 400;
        }

        .act-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 0;
            border-top: solid 1px rgba(var(--black), 0.13);

            .footer-link {
                font-size: 1.25rem;
                font-weight: 500;
                color: RGB(var(--accent));
            }
        }
    }

    .popper-wrapper {
        width: 100%;
    }

    .MessagePopper {
        width: 280px;
        max-height: 400px;
        overflow-y: auto;

        .header-ms {
            display: flex;
            justify-content: space-between;
            padding: 12px;
            border-bottom: solid 1px rgba(var(--black), 0.13);

            .name {
                font-weight: 500;
                font-size: 1.4rem;
            }
            .new-ms-btn {
                font-weight: 500;
                font-size: 1.25rem;
                color: RGB(var(--accent));
                background-color: transparent;
            }
        }
        .body-ms {
            --icon-color-primary: rgba(var(--black), 0.65);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 10px;

            h2 {
                color: rgba(var(--black), 0.65);
                text-align: center;
                margin: 15px 0;
                font-size: 2.1rem;
                font-weight: 500;
            }

            .contact-list {
                grid-gap: 10px;
                grid-template-rows: repeat(2, 35px);
                grid-template-columns: repeat(4, 35px);
                display: grid;

                .start-conversation-btn {
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
                .shake-conversation-btn {
                    animation: 0.3s shake;
                }

                @keyframes shake {
                    0% {
                        transform: rotate(0);
                    }

                    25% {
                        transform: rotate(10deg);
                    }
                    75% {
                        transform: rotate(-10deg);
                    }
                    100% {
                        transform: rotate(0);
                    }
                }
            }
        }
    }

    .container {
        overflow-y: scroll;
        flex: 1;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(var(--white-on-dark), 0.4);
        }

        .sub-nav {
            display: none;

            & > a {
                display: flex;
                justify-content: space-between;
                padding: 10.5px 16px;
                padding-left: 28px;
                font-weight: 400;
                line-height: 1.2;
                color: rgba(var(--white-on-dark), 0.65);

                &.active {
                    color: rgba(var(--white-on-dark));
                }
            }

            & > button {
                font-weight: 400;
            }

            .personal-link {
                display: flex;
                flex-direction: row;
                padding: 8px 10px 8px 28px;
                justify-content: start;
                align-items: center;
                gap: 12px;

                .title {
                    font-size: 1.4rem;
                    font-weight: 500;

                    .sub-title {
                        color: rgba(var(--white-on-dark), 0.65);
                        font-weight: 400;
                    }
                }

                &:hover {
                    background-color: rgba(var(--white-on-dark), 0.07);
                }
            }
        }

        .sub-nav.active {
            display: block;
            border-top: 1px solid rgba(var(--white-on-dark), 0.13);
        }
    }

    .header {
        display: flex;
        justify-content: center;

        .header-logo-cont {
            padding: 24px 0px;

            .logo-btn {
                --icon-color-background: RGB(var(--navy));

                display: block;
                position: relative;
                overflow: hidden;
                height: 20px;

                &:hover .sidebar-logo {
                    --icon-color-primary: transparent !important;
                }

                .colorful-bg-logo {
                    will-change: transform;
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    z-index: -1;
                }

                &:hover .colorful-bg-logo {
                    background: repeating-linear-gradient(
                        90deg,
                        #d95e40 0%,
                        #f2992e,
                        #f7dd38,
                        #56bc8a,
                        #529ecc,
                        #a77dc2,
                        #d95e40 50%
                    );
                    animation: 1s linear infinite JqCkJ;
                }

                @keyframes JqCkJ {
                    0% {
                        transform: translate(-150px);
                    }

                    100% {
                        transform: translate(0);
                    }
                }
            }
        }
    }

    .footer {
        padding: 12px 16px;
        position: relative;

        .sidebar-footer-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;
            background-color: RGB(var(--accent));
            color: RGB(var(--navy));
            font: inherit;
            font-weight: 500;
            padding: 9px 16px;
            border-radius: 40px;
        }

        .create-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 25, 53, 0.85);

            .mdl-btn {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: transparent;
                z-index: -1;
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 0.5;
                }
                100% {
                    opacity: 1;
                }
            }

            .modal-actions {
                display: flex;
                gap: 30px;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .action {
                    animation: 0.5s linear fadeIn;
                }

                .act-btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    background-color: transparent;
                    color: rgb(var(--white-on-dark));
                    font: inherit;
                    font-size: 1.8rem;

                    &:hover .icon-cont {
                        animation: 1s ease-in-out infinite BdLvX;
                    }

                    @keyframes BdLvX {
                        0% {
                            transform: scale(1.1);
                        }
                        30% {
                            transform: scale(1.1) rotate(15deg);
                        }
                        60% {
                            transform: scale(1.1) rotate(-15deg);
                        }
                        90% {
                            transform: scale(1.1);
                        }
                        100% {
                            transform: scale(1.1);
                        }
                    }

                    .icon-cont {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        color: rgb(var(--navy));

                        & > svg {
                            fill: rgb(var(--navy)) !important;
                        }
                    }

                    .cr-txt-btn {
                        background-color: rgb(var(--white-on-dark));
                    }

                    .cr-pht-btn {
                        background-color: rgb(var(--red));
                    }

                    .cr-qot-btn {
                        background-color: rgb(var(--orange));
                    }

                    .cr-link-btn {
                        background-color: rgb(var(--green));
                    }

                    .cr-cht-btn {
                        background-color: rgb(var(--blue));
                    }

                    .cr-aud-btn {
                        background-color: rgb(var(--purple));
                    }

                    .cr-vid-btn {
                        background-color: rgb(var(--pink));
                    }
                }
            }
        }
    }

    .footer::before {
        content: '';
        background-image: linear-gradient(
            0deg,
            rgb(var(--navy)) 0%,
            rgba(var(--navy), 0.987) 8.1%,
            rgba(var(--navy), 0.951) 15.5%,
            rgba(var(--navy), 0.896) 22.5%,
            rgba(var(--navy), 0.825) 29%,
            rgba(var(--navy), 0.741) 35.3%,
            rgba(var(--navy), 0.648) 41.2%,
            rgba(var(--navy), 0.55) 47.1%,
            rgba(var(--navy), 0.45) 52.9%,
            rgba(var(--navy), 0.352) 58.8%,
            rgba(var(--navy), 0.259) 64.7%,
            rgba(var(--navy), 0.175) 71%,
            rgba(var(--navy), 0.104) 77.5%,
            rgba(var(--navy), 0.049) 84.5%,
            rgba(var(--navy), 0.013) 91.9%,
            transparent 100%
        );
        width: 100%;
        height: 16px;
        position: absolute;
        left: 0;
        top: -16px;
    }
}
